langchain==0.2.6
langchain-openai==0.1.14
langchain-pinecone==0.1.3
langchain-community==0.2.6
openai==1.35.0
pinecone-client==4.1.0
streamlit==1.35.0
fastapi==0.111.0
uvicorn==0.30.1
pymupdf==1.24.5
pdfplumber==0.11.1
pandas==2.2.2
openpyxl==3.1.4
python-dotenv==1.0.1
pytest==8.2.2
